<nb-card>
  <p-table #dt [value]="providerBanks" styleClass="p-datatable-gridlines nb-card" [loading]="loading"
    [scrollable]="false" scrollHeight="flex" [autoLayout]="true" [rowHover]="true" [paginator]="true" [rows]="10"
    [(first)]="first" [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10, 25, 50]">
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <div class="p-d-flex p-ai-center">
          Provider Banks
          <p-button label="Save" class="p-mr-2 p-ml-5" icon="pi pi-save" [disabled]="loading" (onClick)="onClickSave()">
          </p-button>
        </div>
        <div>
          <p-button icon="pi pi-refresh" (click)="onRefresh()"></p-button>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col *ngFor="let col of cols" [ngStyle]="{'width': col.width ? col.width: '' }">
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of cols">
          {{ col.header }}
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-providerBank>
      <tr>
        <td>{{providerBank.paymentProvider.providerName}}</td>
        <td>
          <span>{{providerBank.bank.bankName}}</span><br>
          <span style="font-size: 0.8rem; color: #6A6;">{{providerBank.paymentProviderBankName}}</span>
        </td>
        <td>
          <span>{{providerBank.bank.bankCode}}</span><br>
          <span style="font-size: 0.8rem; color: #6A6;">{{providerBank.paymentProviderBankCode}}</span>
        </td>
        <td>
          <p-checkbox [(ngModel)]="providerBank.isActive" binary="true" inputId="binary"
            (onChange)="onChangeActive(providerBank)">
          </p-checkbox>
        </td>
        <td>
          <p-checkbox [(ngModel)]="providerBank.isAvailable" binary="true" readonly=true inputId="binary">
          </p-checkbox>
        </td>
        <td></td>
      </tr>
    </ng-template>
  </p-table>
</nb-card>