<div class="competition_matches">
  <div class="competition_matches__header" *ngIf="selectOptions?.length">
    <span>{{'rest.view' | translate}}</span>
    <workspace-ohb-select
      [options]="selectOptions"
      [selected]="defaoultOption"
      (changeValue)="selectMarket($event)">
    </workspace-ohb-select>
  </div>

  <ng-container *ngIf="sportsOddsData.length">
    <ng-container *ngFor="let item of sportsOddsData">
      <workspace-sports-odds-listing (redirect)="redirectTo($event)" [data]="item?.game" [startTime]="item.startTime" [headers]="actualTableHeader"></workspace-sports-odds-listing>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="!sportsOddsData.length">
    <div class="competition_matches__section">
      <div class="solid__blue__header">
      <span style="pointer-events: none;">No data found :(</span>
      </div>
    </div>
  </ng-container>
</div>



