@import "../../../mixins";

.search-dialog {
    position: relative;
    width: 100%;
    height: 100%;

    .dialog-header {
        position: relative;
        padding: 15.7px 0 0 0;

        @include lower-than("lg") {
            padding: 16px 16px;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);
            background-color: #2b2b2b;
        }

        h2 {
            width: 100%;
            display: inline-block;
            margin: 0.3px auto 0 auto;
            font-family: Roboto;
            font-size: rem-calc(27);
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;

            @include lower-than("lg") {
                font-size: rem-calc(13);
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.38;
                text-align: left;
                color: #d1d1d1;
            }
        }

        button {
            position: absolute;
            right: 15.8px;
            width: 23px;
            height: 23px;
            margin: 0 0 9.2px 0px;
            border: none;
            outline: none;
            background-color: transparent;
            cursor: pointer;

            @include lower-than("lg") {
                right: 16px;
                width: auto;
                height: auto;
                font-size: rem-calc(13);
                color: #d1d1d1;
            }

            i {
                width: 23px;
                height: 23px;
                opacity: 0.3;
                color: #ffffff;
                font-size: rem-calc(23);
            }

            .fa-times:before {
                content: "\f00d";
            }
        }
    }

    .search-dialog-content {
        position: relative;
        width: 100%;
        height: calc(100% - 200px);
        padding: 0 40px 0px 40px;
        overflow: unset;
        @include lower-than('lg') {
            height: calc(100% - 120px);
            padding: 0px;
        }

        .input-box {
            position: relative;
            margin: 43px 0px 26px 0px;

            @include lower-than("lg") {
                margin: 14px 16px 14px 16px;
            }

            input {
                width: 100%;
                height: 54px;
                padding: 0px 15px 0px 22px;
                border-radius: 5px;
                border: solid 1px #404040;
                background-color: rgba(10, 10, 10, 0.2);
                font-family: Roboto;
                font-size: rem-calc(21);
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 2.67;
                letter-spacing: normal;
                text-align: left;
                color: #ffffff;

                @include lower-than("lg") {
                    max-height: 44px;
                    font-size: rem-calc(16);
                    line-height: 2.1;
                    padding: 0px 11px 0px 17px;
                    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
                }
            }

            input[type="search"]::-ms-clear {
                display: none;
                width: 0;
                height: 0;
            }
            input[type="search"]::-ms-reveal {
                display: none;
                width: 0;
                height: 0;
            }
            input[type="search"]::-webkit-search-decoration,
            input[type="search"]::-webkit-search-cancel-button,
            input[type="search"]::-webkit-search-results-button,
            input[type="search"]::-webkit-search-results-decoration {
                display: none;
            }

            input::placeholder {
                opacity: 0.4;
                font-family: Roboto;
                font-size: rem-calc(21);
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 2.67;
                letter-spacing: normal;
                text-align: left;
                color: #ffffff;

                @include lower-than("lg") {
                    font-size: rem-calc(13);
                    margin: 0.1px 0 0 0;
                    opacity: 0.4;
                }
            }

            img {
                position: absolute;
                right: 0px;
                top: 20px;
                width: 14.1px;
                height: 14.1px;
                margin: 0 22px 0px 0px;
                object-fit: contain;

                @include lower-than("lg") {
                    top: 13.9px;
                    margin: 0 11px 0px 0px;
                }
            }
        }

        .search-result-box.no-result {
            width: 100%;
            height: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @include lower-than("lg") {
                margin: 45px 0 0 0;
            }
        }

        .list-result{
            @include lower-than("lg") {
                margin: 8px 0 0 0;
            }
        }

        h3 {
            position: relative;
            font-family: Roboto;
            font-size: rem-calc(18);
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: normal;
            text-align: left;
            color: #959595;
            margin: 0 0 18px 0;

            @include lower-than("lg") {
                font-size: rem-calc(15);
                margin: 10px 16px 14px 16px;
                font-family: Roboto;
                font-weight: 500;
            }
        }

        .result {
            font-family: Roboto;
            font-size: rem-calc(18);
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            font-weight: 500;
            letter-spacing: normal;
            text-align: left;
            color: #959595;
            margin: 0 0 9px 0;

            @include lower-than("lg") {
                font-size: rem-calc(15);
                margin: 24px 16px 14px 16px;
                font-weight: 500;
            }
        }

        .list-title {
            margin: 33px 0 18px 0;
            font-family: Roboto;
            font-size: rem-calc(18);
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: normal;
            text-align: left;
            color: #e7e7e7;

            @include lower-than("lg") {
                font-size: rem-calc(15);
                margin: 10px 16px 14px 16px;
            }
        }

        .search-result-box {
            cursor: pointer;
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            img {
                position: relative;
                display: block;
                width: 99.1px;
                height: 99.1px;
                object-fit: contain;

                @include lower-than("lg") {
                    width: 59.6px;
                    height: 59.6px;
                }
            }

            h4 {
                margin: 40.5px 0 0;
                font-family: Roboto;
                font-size: rem-calc(21);
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                letter-spacing: normal;
                text-align: center;
                color: #747577;

                @include lower-than("lg") {
                    margin: 30.5px 0 0;
                    font-size: rem-calc(18);
                    color: #4e4f50;
                }
            }

            .search-item {
                display: flex;
                align-items: center;
                width: 100%;
                height: auto;
                min-height: 54px;
                margin: 0 0 9px 0;
                padding: 8px 22px 8px 22px;
                border-radius: 5px;
                box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.24);
                background-color: #0f0f0f;

                @include lower-than("lg") {
                    margin: 0 0 2px;
                    border-radius: 0px;
                    padding: 3px 16px 3px 16px;
                }

                .tag-box {
                    width: 120px;
                    margin: 0px 22.1px 0 -12px;
                    padding: 8px 0px 8px 0px;
                    border-radius: 100px;
                    background-color: #f88a34;
                    text-align: center;
                    font-family: Roboto;
                    font-size: rem-calc(16);
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    letter-spacing: normal;
                    text-align: center;
                    color: #ffffff;

                    @include lower-than("lg") {
                        margin: 0px;
                        width: 89px;
                        min-width: 89px;
                        font-size: rem-calc(14);
                        text-align: right;
                    }
                }

                .tag-box-yellow {
                    background-color: #f88a34;
                     @include lower-than("lg") {
                        color: #f88a34;
                        background-color: transparent;
                    }
                }
                .tag-box-skyblue {
                    background-color: #3bc0cc;
                     @include lower-than("lg") {
                        color: #3bc0cc;
                        background-color: transparent;
                    }
                }
                .tag-box-violet {
                    background-color: #4658d6;
                     @include lower-than("lg") {
                        color: #4658d6;
                        background-color: transparent;
                    }
                }

                .tag-box + i{
                    @include lower-than("lg") {
                        display: none;
                    }
                }

                img {
                    width: 18px;
                    height: 18px;
                    font-size: rem-calc(18);

                    @include lower-than("lg") {
                        width: 14px;
                        height: 14px;
                        margin: 0 0 0 9px;
                        font-size: rem-calc(14);
                    }
                }

                .fa-history:before {
                    content: "\f1da";
                }

                span, .team-name {
                    margin: 0 0 0 15px;
                    font-family: Roboto;
                    font-size: rem-calc(16);
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    letter-spacing: normal;
                    text-align: left;
                    color: #ffffff;

                    @include lower-than("lg") {
                        line-height: 1.29;
                        font-size: rem-calc(14);
                        margin: 8.8px 16px 9.2px 24px;
                    }
                }

                .right-content {
                    display: flex;
                    align-items: center;
                    margin-left: auto;

                    .live-tag {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 46.5px;
                        height: 24.8px;
                        border-radius: 3px;
                        text-align: center;
                        background-color: #ff3636;
                        font-family: Roboto;
                        font-size: rem-calc(13);
                        font-weight: bold;
                        font-stretch: normal;
                        font-style: italic;
                        letter-spacing: normal;
                        color: #ffffff;
                        margin: 0 34px 0 0;

                        @include lower-than("lg") {
                            width: 41.5px;
                            height: 19.8px;
                            margin: 0 19px 0 0;
                            font-size: rem-calc(11);
                        }
                    }

                    .date-tag {
                        width: 46.5px;
                        height: auto;
                        font-family: Roboto;
                        font-size: rem-calc(16);
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        letter-spacing: normal;
                        text-align: center;
                        color: #959595;
                        margin: 0 34px 0 0;

                        @include lower-than("lg") {
                            width: 43px;
                            height: auto;
                            margin: 0 19px 0 0;
                            font-size: rem-calc(16);
                            text-align: right;
                        }
                    }

                    .time-tag {
                        width: 40px;
                        font-family: Roboto;
                        font-size: rem-calc(16);
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        letter-spacing: normal;
                        text-align: center;
                        color: #ffffff;
                        margin: 0 34px 0 0;

                        @include lower-than("lg") {
                            margin: 0px;
                            font-size: rem-calc(16);
                            text-align: left;
                        }
                    }

                    button {
                        width: 140px;
                        height: 46px;
                        margin: 0 -18px 0 4px;
                        padding: 0px 10px 0px 10px;
                        border-radius: 5px;
                        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
                        border: solid 1px #727272;
                        background-color: #f88a34;
                        font-family: Roboto;
                        font-size: rem-calc(16);
                        font-weight: 500;
                        font-stretch: normal;
                        font-style: normal;
                        letter-spacing: normal;
                        text-align: center;
                        color: #ffffff;
                        cursor: pointer;

                        @include lower-than("lg") {
                            width: 130px;
                            height: 35px;
                            margin: 0 -10px 0 0px;
                            padding: 0px 8px 0px 8px;
                            font-size: rem-calc(14);
                        }
                    }
                    .btn-yellow {
                        background-color: #f88a34;
                    }
                    .btn-skyblue {
                        background-color: #3bc0cc;
                    }
                    .btn-violet {
                        background-color: #4658d6;
                    }
                }
            }
        }
    }





  ::ng-deep .ps__rail-y.ps--clicking .ps__thumb-y,
  ::ng-deep .ps__rail-y:focus > .ps__thumb-y,
  ::ng-deep .ps__rail-y:hover > .ps__thumb-y {
    width: 6px !important;
  }

  ::ng-deep .ps .ps__rail-x.ps--clicking,
  ::ng-deep .ps .ps__rail-x:focus,
  ::ng-deep .ps .ps__rail-x:hover,
  ::ng-deep .ps .ps__rail-y.ps--clicking,
  ::ng-deep .ps .ps__rail-y:focus,
  ::ng-deep .ps .ps__rail-y:hover {
    background: none !important;
    width: 10px !important;
    z-index: 100;
  }

  ::ng-deep perfect-scrollbar > .ps.ps--scrolling-x > .ps__rail-x,
  ::ng-deep perfect-scrollbar > .ps.ps--scrolling-y > .ps__rail-y {
    background: none !important;
    width: 10px !important;
    z-index: 100;
  }

  ::ng-deep .ps__thumb-y {
    cursor: pointer;
  }
}
