<div class='search-dialog'>
  <div class='dialog-header'>
    <h2>{{ 'advanceSearch.title' | translate }}</h2>
    <!-- <button>
      <i class='fal fa-times hidden-lg-down'></i>
    </button> -->
  </div>

  <div class='search-dialog-content'>
    <div class='input-box'>
      <input
        (keyup.enter)='onEnter()'
        [formControl]='apiSearchInput'
        type='text'
        [value]='searchKeyword'
        placeholder="{{ 'advanceSearch.placeholder' | translate }}"
      />
      <img [src]="'/assets/images/icons/search/search-outline.svg'" (click)='onEnter()' />
    </div>

    <div class='search-result-box no-result'
         *ngIf='recentSearches.length === 0 && searchKeyword==="" && gamesList.length===0 && comeptitionsList.length===0 && sports.length===0'>
      <img [src]="'/assets/images/icons/search/no-search-found.svg'" />
      <h4>{{ 'advanceSearch.noSearches' | translate }}</h4>
    </div>

    <perfect-scrollbar *ngIf='!(gamesList.length===0 && comeptitionsList.length===0 && sports.length===0)'>

      <div class="list-result">

        <div *ngIf='gamesList.length>0'>
          <ng-container *ngFor='let g of gamesList'>
            <div (click)="closeModal()" routerLink='{{gotoMathch(item)}}'
              class='search-result-box' *ngFor='let item of g.games'>
              <div
                class='search-item'>
                <div class='tag-box tag-box-yellow'>MATCH</div>
              <img [src]="item.icon" alt="" />
                <span>{{ item.team1_name }} v {{ item.team2_name }}</span>
              </div>
            </div>
          </ng-container>
        </div>
        <div *ngIf='comeptitionsList.length>0'>
          <ng-container *ngFor='let comp of comeptitionsList'>
            <ng-container *ngFor='let r of comp.region'>
              <div class='search-result-box' *ngFor='let item of r.competition'
              (click)="closeModal()" routerLink='/sportsbook/{{comp.alias}}/competitions/{{r.id}}/{{item.id}}/match-result'>
                <div
                  class='search-item'
                >
                  <div class='tag-box tag-box-skyblue'>COMPITITION</div>
                <img [src]="comp.icon" alt="" />
                  <span>{{ item.name }}</span>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>

        <div *ngIf='sports.length>0'>

          <div class='search-result-box' *ngFor='let item of sports'
            (click)="closeModal()" routerLink='/sportsbook/{{item.alias}}'>
            <div
              class='search-item'
            >
              <div class='tag-box tag-box-violet'>SPORT</div>
            <img [src]="item.icon" alt="" />
              <span>{{ item.name }}</span>
            </div>
          </div>
        </div>

      </div>
    </perfect-scrollbar>

    <perfect-scrollbar class='scroll-bar'
        *ngIf="recentSearches.length>0 && searchKeyword==='' && gamesList.length===0 && comeptitionsList.length===0 && sports.length===0">
      <div>
        <h3>Recent Searches</h3>
        <div class='search-result-box' *ngFor='let item of recentSearches'>
          <div
            class='search-item' (click)='onSelectSearch(item)'>
            <i class='fal fa-history'></i>
            <span>{{ item }}</span>
          </div>
        </div>

      </div>
    </perfect-scrollbar>

    <perfect-scrollbar *ngIf='!false'>
      <div>
        <!-- <perfect-scrollbar class='scroll-bar'
            *ngIf="recentSearches.length>0 && searchKeyword===''  && gamesList.length===0 && comeptitionsList.length===0 && sports.length===0">
          <div>
            <h3>Recent Searches</h3>
            <div class='search-result-box' *ngFor='let item of recentSearches'>
              <div
                class='search-item' (click)='onSelectSearch(item)'>
                <i class='fal fa-history'></i>
                <span>{{ item }}</span>
              </div>
            </div>

          </div>
        </perfect-scrollbar> -->

        <h4 class='result hidden-lg-down'
        *ngIf='searchKeyword && gamesList.length===0 && comeptitionsList.length===0 && sports.length===0'>
          Showing results for "{{searchKeyword}}"
        </h4>


        <!-- <div *ngIf='gamesList.length>0'>
          <ng-container *ngFor='let g of gamesList;let gIdx = index'>
            <h2 *ngIf="gIdx === 0" class='list-title'>Matches({{ getLengthMatches(gamesList)}})</h2>
            <div class='search-result-box' *ngFor='let item of g.games'>
              <div (click)="closeModal()"
                class='search-item' routerLink='{{gotoMathch(item)}}'>

              <img [src]="g.icon" alt="" />
                <span class="hidden-lg-down">{{ item.team1_name }} v {{ item.team2_name }}</span>
                <div class="hidden-lg-up team-name">
                  <div>{{ item.team1_name }}</div>
                  <div>{{ item.team2_name }}</div>
                </div>
                <div class='right-content'>
                  <div class='live-tag' *ngIf='item.type===1'>
                    {{ "LIVE" }}
                  </div>
                  <div class='date-tag' *ngIf='item.type!=1'>
                    {{ item.start_ts | date:'MM/dd' }}
                  </div>
                  <div class='time-tag'> {{ item.start_ts | date:'HH:mm' }}</div>
                  <button (click)="closeModal()" [ngClass]="['btn-yellow','hidden-lg-down']" routerLink='{{gotoMathch(item)}}'>GOTO MATCH</button>
                </div>
              </div>
            </div>
          </ng-container>
        </div>

        <div *ngIf='comeptitionsList.length>0'>
          <h2 class='list-title'>Competition({{getLengthComp(comeptitionsList)}})</h2>
          <ng-container *ngFor='let comp of comeptitionsList'>
            <ng-container *ngFor='let r of comp.region'>
              <div class='search-result-box' *ngFor='let item of r.competition'>
                <div
                  class='search-item' (click)="closeModal()" routerLink='/sportsbook/{{comp.alias}}/competitions/{{r.id}}/{{item.id}}/match-result'
                >
                <img [src]="comp.icon" alt="" />
                  <span>{{ item.name }}</span>
                  <div class='right-content'>
                    <button (click)="closeModal()" [ngClass]="['btn-skyblue','hidden-lg-down']"
                            routerLink='/sportsbook/{{comp.alias}}/competitions/{{r.id}}/{{item.id}}/match-result'>{{ "GOTO COMPITITION" }}</button>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>

        <div *ngIf='sports.length>0'>
          <h2 class='list-title'>Sports({{sports.length}})</h2>
          <div class='search-result-box' *ngFor='let item of sports'>
            <div (click)="closeModal()"
              class='search-item' routerLink='/sportsbook/{{item.alias}}'
            >
            <img [src]="item.icon" alt="" />
              <span>{{item.name }}</span>
              <div class='right-content'>
                <div class='live-tag' *ngIf='item.type===1'>
                  LIVE
                </div>
                <button (click)="closeModal()" [ngClass]="['btn-violet','hidden-lg-down']" routerLink='/sportsbook/{{item.alias}}'>GOTO SPORTS</button>
              </div>
            </div>
          </div>
        </div> -->

      </div>
    </perfect-scrollbar>
  </div>
</div>
