@import "../../../../../../mixins";

@include lower-than('lg'){
  .more-multiples-stake{
    display: flex;
    align-items: center;
    input{
      opacity: 0;
      height: 0 !important;
      width: 0 !important;
      position: absolute;
    }
    .input__stake_fake_input{
      height: 28px;
      width: 110px;
      border: 1px solid #fafafa;
      background: #fafafa;
      text-align: right;
      color: #262626;
      padding: 0 5px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin:0 !important;
    }
  }

}
