:host ::ng-deep {
  .p-panel-header,
  .p-panel-content {
    background-color: #262626;
  }

  .p-panel-content {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
  }

  .p-panel {
    min-width: 700px;
  }

  .p-panel-footer {
    text-align: right;
  }

  label {
    white-space: nowrap;
  }

  @media (min-width: 768px) {
    .p-md-3,
    .p-md-4,
    .p-md-5 {
      padding: 0 0.5rem !important;
    }
  }

  .p-field-checkbox {
    margin-bottom: 0;
    > label {
      margin-bottom: 0;
    }
  }
}

p-panel {
  .loading_section {
    position: relative;
    & > *:not(.loading-wrapper) {
      filter: blur(2px);
      pointer-events: none;
      transition: filter 0.3s ease;
    }
  }

  .loading-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    background: none;
    top: 0;
    left: 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    &.hide_it {
      display: none;
    }
    > i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }
}
