<div class="change_password">
  <div class="change_password_body">
    <div class="change_password_header">{{'dashboard.accDet.acc29' | translate}}</div>
    <div class="change_password_form">
      <form action="#" autocomplete="off" class="change-password" [formGroup]="changePasswordForm" (ngSubmit)="changePassword(changePasswordForm)">
        <div class="input-wrapper">
          <div>
            <label for="newPassword">{{'dashboard.accDet.acc25' | translate}}</label>
            <input [type]="showPassword1 ? 'text' : 'password'" id="oldPassword" placeholder="{{'dashboard.accDet.acc25' | translate}}" formControlName="oldPassword">
            <div (click)="showPassword1 = !showPassword1" class="show_password">
              <ng-container *ngIf="!showPassword1"><i class="far fa-eye"></i></ng-container>
              <ng-container *ngIf="showPassword1"><i class="fas fa-eye-slash"></i></ng-container>
            </div>
          </div>
          <span class="notValid" *ngIf="error3">
            {{'dashboard.accDet.acc33' | translate}}</span>
          <span class="notValid" *ngIf="error4">
            {{'dashboard.accDet.acc34' | translate}}</span>
        </div>
        <div class="input-wrapper">
          <div>
            <label for="newPassword">{{'dashboard.accDet.acc26' | translate}}</label>
            <input [type]="showPassword ? 'text' : 'password'" id="newPassword" placeholder="{{'dashboard.accDet.acc28' | translate}}" formControlName="newPassword">
            <div (click)="showPassword = !showPassword" class="show_password">
              <ng-container *ngIf="!showPassword"><i class="far fa-eye"></i></ng-container>
              <ng-container *ngIf="showPassword"><i class="fas fa-eye-slash"></i></ng-container>
            </div>
          </div>
          <span class="notValid" *ngIf="error1">
            {{'dashboard.accDet.acc31' | translate}}</span>
        </div>
        <div class="input-wrapper">
          <div>
            <label for="repeatPassword">{{'dashboard.accDet.acc27' | translate}}</label>
            <input type="password" id="repeatPassword" placeholder="{{'dashboard.accDet.acc30' | translate}}" formControlName="repeatPassword">
          </div>
          <span class="notValid" *ngIf="error2">
            {{'dashboard.accDet.acc32' | translate}}</span>
        </div>
        <div class="input-wrapper">
          <button class="btn__solid" [ngClass]="{'disabled': error1 || error2 || error3 || error4 || notFilled}">{{'dashboard.accDet.acc23' | translate}}
            <div *ngIf="loading" class="loader">
              <div class="loader-dot"></div>
              <div class="loader-dot"></div>
              <div class="loader-dot"></div>
              <div class="loader-dot"></div>
              <div class="loader-dot"></div>
              <div class="loader-dot"></div>
            </div>
          </button>
        </div>
        <div class="errors_wrapper" *ngIf="isError"><i class="fas fa-exclamation-triangle"></i>{{errorMessage}}</div>
      </form>
    </div>
  </div>
</div>

