@import "../../../../mixins";

@-webkit-keyframes slide-from-top {
  0% {
    opacity: 0;
    top: 0
  }

  100% {
    opacity: 1;
    top: calc(100% + 5px);
  }
}

@keyframes slide-from-top {
  0% {
    opacity: 0;
    top: 0
  }

  100% {
    opacity: 1;
    top: calc(100% + 5px);
  }
}

.casino_sort {
  background-image: linear-gradient(93deg, #1d1e1f, #1a1b1c 100%);
  padding: 15px 0;
  margin-bottom: 20px;
  @include lower-than('lg'){
    background: #2b2b2b;
    margin:0;
  }
    & > .container {
      @include higher-than(1400px) {
      padding: 0;
      max-width: 1390px;
    }
      @include lower-than('lg'){
        padding:0 10px;
      }
  }


  .__row {
    align-items: center;
    justify-content: space-between;
  }

  .casino__sort {
    display: flex;
    align-items: center;
    @include lower-than('lg'){
      flex-direction: column;
      align-items: initial;
    }
    & > span {
      font-size: 16px;
      margin-right: 20px;
      @include lower-than('lg'){
        font-family: var(--roboto-medium);
        font-size: rem-calc(18);
        margin-bottom: 15px;
      }
    }

    & > div {
      display: flex;
      align-items: center;
      @include lower-than('lg'){
        flex-wrap: wrap;
        margin:0 -5px;
      }
      & > div {
        padding: 0 15px;
        height: 78px;
        border: solid 1px #2c2c2c;
        transition: all 0.3s ease;
        border-radius: 2px;
        color: #777879;
        margin-right: 12px;
        cursor: pointer;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        @include lower-than('lg'){
          flex-basis: calc(25% - 10px);
          max-width: calc(25% - 10px);
          margin:5px;
          background: #1d1e1f;
          border-color: #1d1e1f;
          color: #777879;
          & > svg:not(#slots_icon) path{
            fill: #777879 !important;
            transition: all 0.3s ease;
          }
          & > #slots_icon{
            g{
              stroke: #777879 !important;
              transition: all 0.3s ease;
            }
          }
          &:hover, &.active {
            border-color:#79bd1f !important;
            background:#292929;
            color: #79bd1f !important;
            i{
              color: #79bd1f !important;
            }
            & > svg:not(#slots_icon) path{
              fill: #79bd1f !important;
              transition: all 0.3s ease;
            }
            & > #slots_icon{
              g{
                stroke: #79bd1f !important;
                transition: all 0.3s ease;
              }
            }
          }
        }
        i{
          font-size: rem-calc(18);
          transition: all 0.3s ease;
        }
        & > svg, i{
          margin-bottom: 10px;
        }
       & > svg:not(#slots_icon) path{
          fill: #777879;
          transition: all 0.3s ease;
        }
        & > #slots_icon{
          g{
            stroke: #777879;
            transition: all 0.3s ease;
          }
        }
        span {
          font-size: rem-calc(14);
          text-align: center;
          width: 100%;
          @include lower-than('lg'){
            font-size: rem-calc(13);
          }
        }

        &:hover, &.active {
          border-color: #0f0f0f;
          color: #fed40d;
          i{
            color: #fed40d;
            transition: all 0.3s ease;
          }
          & > svg:not(#slots_icon) path{
            fill: #fed40d;
            transition: all 0.3s ease;
          }
          & > #slots_icon{
            g{
              stroke: #fed40d;
              transition: all 0.3s ease;
            }
          }
        }
      }
    }
  }

  .casino__search {
    .search__input {
      position: relative;

      input {
        cursor: pointer;
        width: 400px;
        height: 49px;
        border-radius: 100px;
        border: solid 1px #2c2c2c;
        background: #181819;
        color: #fff;
        padding-left: 50px;
        font-size: rem-calc(16);
        position: relative;
        z-index: 5;
        @include lower-than(1201px){
          width: 225px;
        }
      }

      button {
        z-index: 6;
        padding: 0 15px;
        height: 49px;
        position: absolute;
        left: 0;
        top: 0;
        color: #fff;
        background: none;
        border: none;
        cursor: pointer;
        font-size: rem-calc(14);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .casino__search_results{
        visibility: hidden;
        position: absolute;
        width: 100%;
        max-height: 320px;
        overflow-x: hidden;
        overflow-y: auto;
        box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.6);
        border-radius: 5px;
        top:0;
        opacity: 0;
        background: #181819;
        transition: all 0.3s ease;
        scroll-behavior: smooth;
        &.show_it{
          animation-name: slide-from-top;
          animation-duration: 0.3s;
          animation-fill-mode: forwards;
          visibility: visible;
        }
        .casino__search_results_sub{
          div.empty{
            padding: 0 10px;
            height: 80px;
            display: flex;
            align-items: center;
          }
          div.result_row{
            padding: 0 10px;
            cursor: pointer;
            height: 80px;
            display: flex;
            align-items: center;
            border-bottom: solid 1px #3b3b3b;
            &:hover{
              span{
                color: #fff;
              }
            }
            span{
              margin-left: 16px;
              color: #777879;
              transition: color 0.3s ease;
            }
            img{
              height: 60px;
              border-radius: 4px;
            }
          }
        }
      }
    }
  }
}

