@import "../../../../../mixins";


::ng-deep .ohb-modal{
  border-radius: 3px !important;
  box-shadow: 0 0 23px 0 rgba(0, 0, 0, 0.7) !important;
  border: solid 1px #414141 !important;
  background-image: linear-gradient(to bottom, #1e1f23, #151619) !important;
}

.password_form {
  padding: 35px;
  width: 500px;
  @include lower-than('lg'){
    width: 100%;
  }
  &_body {
    .password_form_header {
      font-size: rem-calc(22);
      color: #fff;
      margin-bottom: 44px;
    }
    .input-wrapper{
      margin-bottom: 20px;
      position: relative;
      & > div{
        position: relative;
      }
      .notValid{
        color: #8f383a;
        font-size: rem-calc(12);
        line-height: 16px;
        width: 100%;
        left: 0;
        margin-top: 3px;
        margin-bottom: 0;
        display: block;
      }
      label{
        color: #ffffff;
        font-size: rem-calc(15);
        font-family: var(--roboto-medium);
        display: flex;
        margin-bottom: 12px;
      }
      input{
        display: block;
        width: 100%;
        border-radius: 3px;
        border: solid 1px #101112;
        background-color: rgba(10, 10, 10, 0.2);
        height: 42px;
        padding: 0 18px;
        color: #ffffff;
      }
      button{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 42px;
        line-height: 45px;
        font-size: rem-calc(15);
        font-family: var(--roboto-medium);
        color: #ffffff;
        width: 100%;
        cursor: pointer;
        border-radius: 3px;
        background-image: linear-gradient(to right, #084d8d, #074680);
        border: 1px solid #084d8d;
        &.disabled{
          pointer-events: none;
          opacity: 0.7;
        }
        .loader{
          margin-left: 10px;
        }
      }
      .show_password{
        height: 42px;
        width: 42px;
        position: absolute;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
    }
  }
}
