<div class="password_form">
  <div class="password_form_body">
    <div class="password_form_header">{{'dashboard.accDet.acc21' | translate}}</div>
    <div class="change_password_form_form">
      <div class="input-wrapper">
        <div>
          <input (keyup)="error = false;" [type]="showPassword1 ? 'text' : 'password'" id="oldPassword" placeholder="{{'dashboard.accDet.acc22' | translate}}" #passwordInput>
          <div (click)="showPassword1 = !showPassword1" class="show_password">
            <ng-container *ngIf="!showPassword1"><i class="far fa-eye"></i></ng-container>
            <ng-container *ngIf="showPassword1"><i class="fas fa-eye-slash"></i></ng-container>
          </div>
        </div>
        <span class="notValid" *ngIf="error">
            {{'dashboard.accDet.acc24' | translate}}</span>
      </div>
      <div class="input-wrapper">
        <button class="btn__solid" (click)="submitPassword(passwordInput)" [ngClass]="{'disabled': error}">{{'dashboard.accDet.acc23' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
