@import '../../../../mixins';

.password_recover{
  display: flex;
  height: 100%;
  padding: 16px;
  flex-direction: column;
  @include higher-than('lg') {
    width: 545px;
    padding: 44px 39px;
  }
  @include lower-than('lg'){
    padding-top: 80px;
  }
  &_header{
    display: flex;
    text-align: left;
    color: #fff;
    font-size: rem-calc(22);
    margin-bottom: 26px;
    span{
      margin-right: 13px;
      cursor: pointer;
    }
  }
  &_select{
    display: flex;
    align-items: center;
    justify-content: center;
    div{
      flex: 0 0 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      span{
        border-bottom: 2px solid transparent;
        transition: all 0.3s ease;
        font-size: rem-calc(17);
        color: #949494;
        padding-bottom: 5px;
        cursor: pointer;
        &:hover, &.active{
          color: #fff;
          border-color: #fed40d;
          transition: all 0.3s ease;
        }

      }
    }

  }
  &_body{
    padding-top:30px;
  }
}
