@import "../../../../../mixins";

#bet__slip_single{
  overflow: hidden;
  ::ng-deep .other_picks{
    position: relative;
    z-index: 1;
    @include lower-than('lg'){
      z-index: 50;
    }
  }
  ::ng-deep .trebles{
    padding:0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height:90px;
    background: #d5d5d5;
    &.hasFreeBet{
      ::ng-deep .input__stake_wrapper{
        &:before {
          display: none;
        }
        &:after{
          content: '';
          background: rgba(121, 189, 31, 0.08);
          height: 100%;
          width: 100%;
          position: absolute;
          left: 0;
          top: 0;
          display: block;
        }
        input{
          border-color: #79bd1f;
          pointer-events: none;
        }
      }

    }
    .trebles-title{
      width: 50%;
    }
    &.active{
      .trebles-title{
        i{
          transform: rotate(180deg);
          transition: all 0.3s ease;
        }
      }
    }
    &-title{
      & > .subtitle{
        color: #262626;
        font-family: var(--roboto-bold);
        margin-bottom: 3px;
        &.banker{
          cursor: pointer;
        }
      }
      & > span{
        color: #262626;
        opacity: 0.6;
        display: flex;
        align-items: center;
        cursor: pointer;
        i{
          transition: all 0.3s ease;
          font-size: 11px;
          margin-left: 3px;
        }
      }
    }
    &-stake{
      display: flex;
      align-items: center;
      &-odds{
        height: 28px;
        color: #262626;
        font-size: rem-calc(14);
        margin-right: 12px;
        text-align: right;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
      &-wrapper{
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: flex-end;
        & > div{
          display: flex;
        }
        input.input__stake{
          height: 28px;
          width: 110px;
          border: 1px solid #fafafa;
          background: #fafafa;
          text-align: right;
          color: #262626;
          -moz-appearance: textfield;
          padding: 0 5px;
          @include lower-than('lg'){
            opacity: 0;
            height: 0;
            width: 0;
            position: absolute;
          }
          &:before{
            content:'';
            height:1.5px;
            background: #ff5353;
            width: 100%;
            bottom:0;
            left:0;
            display: block;
            position: absolute;
          }
          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }
        .__returns{
          font-family: var(--roboto-medium);
          font-size: rem-calc(12);
          color: #79bd1f;
          margin-top: 3px;
        }
      }
    }
  }
  ::ng-deep .more-multiples{
    padding:5px 9px;
    min-height: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    position: relative;
    & > *{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
    &-wraper{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
    &-title{
      color: #262626;
      font-family: var(--roboto-bold);
      line-height: 16px;
    }
    &-table{
      border: solid 1px #c3c3c3;
      background-color: #d9d9d9;
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.15);
      padding: 20px 0 13px;
      border-radius: 3px;
      margin: -10px 4px 4px;

      &-body{
        max-width: 380px;
        margin: 0 auto;
        &-row{
          background: rgba(255,255,255,.2);
          margin-bottom: 2px;

          height: 23px;
          display: flex;
          align-items: center;
          span{
            flex: 0 0 25%;
            text-align: center;
            color: #262626;
            font-size: rem-calc(13);
            .sep:last-child{
              display: none;
            }
          }
        }

      }
      &-header{
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        span{
          flex: 0 0 25%;
          text-align: center;
          color: #262626;
          font-size: rem-calc(13);
          font-weight: 500;
        }
      }
    }
    &-stake{
      .show-more-multiples-stake{
        color: #262626;
        opacity:0.4;
        font-size: rem-calc(10);
        cursor: pointer;
        margin-left: 4px;
        margin-right: 0;
      }
      span{
        color: #262626;
        margin-right: 12px;
      }
      input.input__stake {
        height: 28px;
        width: 110px;
        border: 1px solid #fafafa;
        background: #fafafa;
        text-align: right;
        color: #262626;
        -moz-appearance: textfield;
        padding: 0 5px;
        &:before{
          content:'';
          height:1.5px;
          background: #ff5353;
          width: 100%;
          bottom:0;
          left:0;
          display: block;
          position: absolute;
        }
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
    }

  }
}

.bet__slip_odds{
  margin-right: 7px;
  & > span{
    height: 18px;
    display: inline-block;
    line-height: 18px;
    padding: 0 5px;
  }
}
