<main>
  <div class="container__row">
    <div class="container__col-3 hidden-lg-down with_scrollbar left_section">
      <div>
        <perfect-scrollbar>
          <workspace-left-column-nav>
          </workspace-left-column-nav>
        </perfect-scrollbar>
      </div>
    </div>
    <div class="right_container">
      <div class="container__col-xs-12 container__col-lg-6 with_scrollbar center_section">
        <div>
          <div class="sports_all">
            <perfect-scrollbar>
              <div class="sports_all_page">
                <div class="container__fluid">

                  <workspace-breadcrumbs [homeUrl]="'/sportsbook/home'" [routeArr]="sportName"></workspace-breadcrumbs>


                  <div class="competition_section">
                    <div class="container__fluid">
                      <div class="competition_section__header">
                        <ul class="smaller_menu">
                          <li>
                            <span
                              (click)="changeTab('match-result')"
                              [ngClass]="{'__is_active' : openedTab === 'match-result'}"
                            >
                              {{'competitions.matches' | translate}}
                            </span>
                          </li>
                          <li>
                            <span
                              (click)="changeTab('outrights')"
                              [ngClass]="{'__is_active' : openedTab === 'outrights'}"
                            >
                              {{'competitions.outrights' | translate}}
                            </span>
                          </li>
                          <li>
                            <span
                              (click)="redirectStat()"
                              [ngClass]="{'__is_active' : openedTab === 'standings'}"
                            >
                              {{'competitions.standings' | translate}}
                            </span>
                          </li>
                        </ul>
                      </div>
                      <div class="competition_section__body">
                        <workspace-competition-matches (fullSportName)="valueChanger($event)" *ngIf="openedTab === 'match-result'">
                        </workspace-competition-matches>
                        <workspace-competition-outrights (fullSportName)="valueChanger($event)" *ngIf="openedTab === 'outrights'">
                        </workspace-competition-outrights>
                        <workspace-competition-standings *ngIf="openedTab === 'standings'"></workspace-competition-standings>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="hidden-lg-up">
                <workspace-casino-games></workspace-casino-games>
              </div>
              <workspace-footer></workspace-footer>
            </perfect-scrollbar>
          </div>

        </div>
      </div>
      <div class="container__col-xs-12 container__col-lg-3 with_scrollbar right_section">
        <perfect-scrollbar>
          <div>
            <workspace-bet-column></workspace-bet-column>
            <workspace-bet-history *ngIf="userLogged"></workspace-bet-history>
            <workspace-casino-games></workspace-casino-games>
            <workspace-casino-promotions></workspace-casino-promotions>
          </div>
        </perfect-scrollbar>
      </div>

    </div>
  </div>
</main>
