@import '../../../../mixins';

@-webkit-keyframes option-down-animation {
  0% {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

@keyframes option-down-animation {
  0% {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

@-webkit-keyframes option-down-animation {
  0% {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

@-webkit-keyframes option-down-animation {
  0% {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

@keyframes option-up-animation {
  0% {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

@-webkit-keyframes option-up-animation {
  0% {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

@keyframes option-up-animation {
  0% {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

#bet_slip {
  position: fixed;
  bottom: 15px;
  background: #e7e7e7;
  z-index: 200;
  left: 0;
  right: 0;
  width: 500px;
  border: solid 1px #dbdbdb;
  margin: 0 auto;

  ::ng-deep input::selection {
    background: #b0ef5d;
  }

  ::ng-deep &.bet_changed {
    .bet__slip_odds {
      & > span {
        &.changed {
          background-color: rgba(121, 189, 31, 0.7);
        }
      }
    }

    ::ng-deep input {
      pointer-events: none;
    }
  }

  @include lower-than('lg') {
    width: 100%;
    bottom: 68px;
    border: none;
    transform: none !important;
  }

  .bet__slip_wrapper_sub {
    display: none;

    &.show {
      display: block;
    }
  }

  .bet_slip_header {
    background: #f2f2f2;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.16);

    &.isLoading {
      .remove_all {
        opacity: 0.5;
        pointer-events: none;
      }
    }

    &.active {
      .bet_slip_header_settings {
        display: flex;
      }

      .betslip_hide {
        i {
          transition: all 0.3s ease;
          transform: rotate(180deg);
        }
      }
    }

    &_sub {
      height: 48px;
      display: flex;
      align-items: center;
      padding: 0 11px;
      justify-content: space-between;
      position: relative;

      & > div {
        display: flex;
        color: #0b0b0b;
        font-size: rem-calc(15);
        font-weight: 500;
        align-items: center;
        height: 100%;

        &:first-child {
          position: relative;
          z-index: 1;
        }

        .bet_slip_counter {
          height: 22px;
          width: 22px;
          background: #79bd1f;
          border-radius: 50px;
          font-size: rem-calc(15);
          font-weight: 700;
          color: var(--plain-white);
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 9px;
        }

        @include lower-than('lg') {
          & > .d__flex {
            flex-direction: column;

            .bet__slip_edit {
              color: #79bd1f;
              font-size: rem-calc(11);
              font-weight: normal;
              cursor: pointer;
            }
          }
        }
      }

      .betslip_hide {
        padding: 0 20px;
        cursor: pointer;
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        z-index: 0;

        i {
          color: #262626;
          opacity: 0.3;
          transition: all 0.3s ease;
        }
      }

      .betslip_login {
        color: #79bd1f;
        font-weight: 500;
        cursor: pointer;
        margin-right: 35px;
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 15px;
      }

      .betslip_logged {
        font-size: rem-calc(14);
        margin-right: 50px;

        & > div {
          color: #000000;
        }

        & > span {
          color: #262626;
          opacity: 0.6;
          font-weight: 300;
        }
      }
    }

    &_settings {
      display: none;
      height: 30px;
      border-top: solid 1px #dbdbdb;
      border-bottom: solid 1px #dbdbdb;
      align-items: center;
      justify-content: space-between;
      padding: 0 11px;

      .remove_all {
        cursor: pointer;
        text-decoration: underline;
        color: #262626;
        font-size: rem-calc(13);
      }

      ::ng-deep workspace-ohb-select {
        .ohb-select {
          height: 22px;
          min-width: unset;
          line-height: 20px;
          background: #d7d7d7;
          border-radius: 3px;
          border: solid 1px #c3c3c3;
          color: #262626;
          box-shadow: none;

          .ohb-placeholder {
            padding: 0 8px;
            width: 85px;

            i {
              margin-left: 3px;
              color: #262626;
            }
          }

          .ohb-options {
            ul {
              background: #fff;
              width: 120px;
              right: -1px;
              left: unset;
              border-radius: 3px;
              border: none;
              box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.08);

              li {
                background: #fff;
                height: 35px;
                display: flex;
                align-items: center;
                border-bottom: 1px solid #e4e4e4;
                color: #262626;
                opacity: 0.5;
                transition: all 0.3s ease;

                &:before {
                  content: '';
                  height: 0;
                  width: 3px;
                  background: #79bd1f;
                  display: block;
                  position: absolute;
                  left: 0;
                  top: 0;
                  transition: all 0.3s ease;
                }

                &:last-child {
                  border: none;
                }

                &:hover {
                  color: #79bd1f;
                  opacity: 1;
                  transition: all 0.3s ease;

                  &:before {
                    height: 100%;
                    transition: all 0.3s ease;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &.bet_success {
    ::ng-deep .bet__slip_free_bet {
      opacity: 0.5;
      pointer-events: none;
    }
    ::ng-deep .betslip_xxxx{
      width: 100%;
    }
    ::ng-deep .input__stake_wrapper {
      &.before {
        display: none;
      }
    }

    ::ng-deep .isConflict {
      &:before {
        display: none;
      }
    }

    .bet_slip_header_sub {
      background: #79bd1f;
      margin: -1px -1px 0 -1px;

      & > div {
        .bet_slip_counter {
          background: var(--plain-white) !important;
          color: #79bd1f !important;
          font-size: 7px !important;
        }

        div {
          flex-direction: column;

          & > span {
            color: var(--plain-white);

            &:first-child {
              font-size: rem-calc(15);
            }

            &:last-child {
              font-size: rem-calc(11);
              font-weight: normal;
            }
          }
        }

        .bet_slip_done {
          cursor: pointer;
          color: var(--plain-white);
          font-size: rem-calc(14);
          text-decoration: underline;
          font-weight: normal;
        }
      }
    }

    .bet__slip_wrapper_sub {
      display: block !important;
    }

    .bet_placed_summary {
      height: 50px;
      display: flex;
      background: var(--plain-white);
      padding: 0 20px;
      align-items: stretch;

      & > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;

        span {
          color: #262626;
          font-size: rem-calc(11);
          margin-bottom: 2px;
        }

        b {
          color: #79bd1f;
          font-size: rem-calc(15);
          font-weight: 500;
        }
      }
    }

    ::ng-deep ._returns {
      right: 0;
      left: unset;
    }

    ::ng-deep .bet__slip_odds {
      margin-right: 0;
      height: auto;
    }

    ::ng-deep #bet__slip_single .trebles-title > span {
      pointer-events: none;
    }

    ::ng-deep input {
      background: #dddddd !important;
      border-color: #dddddd !important;
    }

    ::ng-deep .hidee {
      .input__stake_wrapper {
        opacity: 0;

        & > div {
          &:before, &:after {
            display: none;
          }
        }
      }
    }
  }
}

.no__bets {
  padding: 25px;
  font-size: rem-calc(14);
  opacity: 0.5;

  span {
    margin-bottom: 20px;
    display: block;
    position: relative;
    padding-left: 30px;

    i {
      position: absolute;
      left: 0;
      top: 3px;
      font-size: rem-calc(16);
    }
  }

  div {
    text-align: center;
    color: #262626;
  }
}

.bet__slip_wrapper {
  .bet__slip-tab-bar {
    border-bottom: 2px solid #313131;
    display: flex;
    background: #1c1d1f;

    li {
      flex: 0 0 33.3333%;
      max-width: 33.3333%;
      text-align: center;
      height: 45px;
      line-height: 45px;

      button {
        padding: 0 22px;
        color: var(--plain-white);
        font-size: 1.143rem;
        height: 100%;
        display: inline-block;
        position: relative;
        border: none;
        background: none;
        cursor: pointer;

        &[disabled] {
          opacity: 0.5;
          pointer-events: none;
        }

        &:before {
          content: '';
          height: 1px;
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
          background: var(--yellow);
          opacity: 0;
          transition: opacity 0.3s ease;
        }

        &.__is_active,
        &:hover {
          &:before {
            opacity: 1;
            transition: opacity 0.3s ease;
          }
        }
      }
    }
  }

  &.isLoading {
    ::ng-deep .bet__slip-pick, .bet__slip_free_bet, .remove_all {
      opacity: 0.5;
      pointer-events: none;
    }

    ::ng-deep {
      .remove_pick_mobile {
        display: none !important;
      }
    }
  }

  .bet__slip-picks {
    max-height: calc(100vh - 230px);

    ::ng-deep .bet__slip-picks_wrapper {
      ::ng-deep .bet__slip-pick-sub-sub {
        @include lower-than('lg') {
          position: relative;
          .remove_pick_mobile {
            height: 100%;
            background: #c22727;
            color: var(--plain-white);
            width: 60px;
            -webkit-backdrop-filter: blur(50px);
            backdrop-filter: blur(50px);
            border: solid 2px rgba(178, 35, 35, 0.8);
            border-radius: 3px;
            position: absolute;
            right: 4px;
            top: 0;
            font-size: rem-calc(11);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            cursor: pointer;
            padding-left: 10px;
            z-index: 1;

            span {
              display: block;
              margin-top: 4px;
            }
          }
        }
      }

      ::ng-deep .bet__slip-pick {
        overflow: hidden;
        border-radius: 3px;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.15);
        border: solid 1px #c3c3c3;
        background-color: #dddddd;
        display: flex;
        margin: 4px;
        padding: 0;
        align-items: stretch;
        @include lower-than('lg') {
          position: relative;
          transition: right 0.3s ease;
          right: 0;
          z-index: 2;
          &.swiped {
            transition: right 0.3s ease;
            right: 50px;
          }
        }

        &.isConflict {
          position: relative;
          padding-left:10px;
          &:before {
            content: '';
            width: 3px;
            height: 100%;
            background: #ff5353;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
          }
        }

        &.pick_blocked {
          position: relative;

          &:before {
            content: '';
            position: absolute;
            background-color: rgba(126, 126, 126, 0.4);
            display: block;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
          }

          .bet__slip-pick_remove {
            &:before {
              content: '';
              position: absolute;
              background-color: rgba(126, 126, 126, 0.4);
              display: block;
              height: 100%;
              width: 100%;
              top: 0;
              left: 0;
            }
          }

          .input__stake_wrapper{
            opacity: 0.5;
            pointer-events: none;
          }
        }

        input[type="checkbox"][disabled] {
          opacity: 0.5;
        }
        @include lower-than('lg') {
          &:last-child {
            border-bottom: none;
          }
        }

        .bet__slip-pick_remove_wrapper {
          display: flex;

          .bet__slip-pick_remove {
            background: rgba(242, 242, 242, .4);
            cursor: pointer;
            color: #838383;
            transition: all 0.3s ease;
            font-size: rem-calc(14);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0 7px;
            -webkit-backdrop-filter: blur(50px);
            backdrop-filter: blur(50px);

            span {
              font-size: rem-calc(11);
              margin-top: 5px;
            }

            &:hover {
              opacity: 1;
              transition: all 0.3s ease;
            }
          }
        }

        .bet__slip-pick_infos {
          padding: 0;
          justify-content: center;
          display: flex;
          flex-direction: column;
          width: 50%;
          @include lower-than('lg') {
            width: 50%;
          }

          .bet__slip-pick_infos_selected {
            color: #262626;
            font-size: rem-calc(15);
            font-family: var(--roboto-medium);
            display: flex;
            align-items: center;
            margin-bottom: 3px;
            line-height: 19px;

            .badge {
              margin-left: 15px;
            }

            @include lower-than('lg') {
              font-size: rem-calc(13);
            }
          }

          .bet__slip-pick_infos_res {
            color: #262626;
            font-size: rem-calc(13);
            line-height: 19px;
            opacity: 0.6;
            margin-bottom: 3px;
            @include lower-than('lg') {
              font-size: rem-calc(12);
            }
          }

          .bet__slip-pick_infos_teams {
            color: #262626;
            line-height: 19px;
            font-size: rem-calc(13);
            max-width: 260px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            @include lower-than('lg') {
              font-size: rem-calc(12);
              max-width: 100%;
            }
          }
        }

        .bet__slip-pick_stake {
          margin-left: auto;
          display: flex;
          align-items: center;

          .bet__slip_odds_locked {
            color: #262626;
            font-size: rem-calc(14);
            margin-right: 3px;
            text-transform: uppercase;
          }

          .bet__slip_odds {
            height: 28px;
            color: #262626;
            font-size: rem-calc(14);
            margin-right: 12px;
            text-align: right;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            &:before {
              width: 0;
              height: 0;
              border-style: solid;
              opacity: 0;
              transition: opacity 0.3s ease;
            }

            &.odds__up {
              &:before {
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 4.5px 8px 4.5px;
                border-color: transparent transparent var(--green) transparent;
                opacity: 1;
                -webkit-animation: option-up-animation .3s 12 alternate forwards, option-up-animation .5s 30s forwards;
                animation: option-up-animation .3s 12 alternate forwards, option-up-animation .5s 30s forwards
              }
            }

            &.odds__down {
              &:before {
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 8px 4.5px 0 4.5px;
                border-color: var(--red) transparent transparent transparent;
                opacity: 1;
                -webkit-animation: option-down-animation .3s 12 alternate forwards, option-down-animation .5s 30s forwards;
                animation: option-down-animation .3s 12 alternate forwards, option-down-animation .5s 30s forwards
              }
            }

            &:before {
              content: '';
              display: inline-block;
              margin-right: 8px;
            }
          }

          .input__stake_wrapper {
            display: flex;
            flex-direction: column;
            position: relative;

            .currency {
              color: #838383;
              margin-right: 8px;
            }


            & > div {
              &:before {
                content: '';
                height: 2px;
                background: #ff5353;
                width: 100%;
                bottom: 1px;
                left: 0;
                display: block;
                position: absolute;
                transform-origin: left;
                transform: scale(0);
                transition: 0.25s linear;
              }

              &.error {
                &:before {
                  transform: scale(1);
                }
              }

              &.hasFreeBet {
                &:before {
                  display: none;
                }

                &:after {
                  content: '';
                  background: rgba(121, 189, 31, 0.08);
                  height: 100%;
                  width: 100%;
                  position: absolute;
                  left: 0;
                  top: 0;
                  display: block;
                }

                input {
                  border-color: #79bd1f;
                  pointer-events: none;
                }
              }
            }

            input.input__stake {
              height: 28px;
              width: 110px;
              border: 1px solid #fafafa;
              background: #fafafa;
              text-align: right;
              color: #262626;
              -moz-appearance: textfield;
              padding: 0 5px;

              &:before {
                content: '';
                height: 1.5px;
                background: #ff5353;
                width: 100%;
                bottom: 0;
                left: 0;
                display: block;
                position: absolute;
              }

              &::-webkit-outer-spin-button,
              &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
              }

              @include lower-than('lg') {
                opacity: 0;
                height: 0;
                width: 0;
                position: absolute;;
              }
            }

            .input__stake_fake_input {
              height: 28px;
              width: 110px;
              border: 1px solid #fafafa;
              background: #fafafa;
              text-align: right;
              color: #262626;
              padding: 0 5px;
              display: flex;
              align-items: center;
              justify-content: flex-end;
            }

            .placed_stake {
              color: #262626;
              font-size: rem-calc(14);
              width: 115px;
              text-align: right;

            }
          }

          ._returns {
            color: #79bd1f;
            font-size: rem-calc(12);
            margin-top: 3px;
            font-weight: 500;
            position: absolute;
            bottom: -17px;
            white-space: nowrap;
          }
        }

        .betslip_xxxxys {
          display: flex;
          width: 100%;
          flex-direction: column;
          padding: 13px 0;

          .bet__slip_free_bet {
            margin-top: 20px;
          }
        }

        .betslip_xxxxyy {
          display: flex;
          align-items: center;
          justify-content: space-between;

        }

        .betslip_xxxx {
          display: flex;
          width: calc(100% - 50px);
          margin-left: auto;
          flex-direction: column;
          padding: 15px;
          @include lower-than('lg'){
            width: 100%;
            padding:5px;
          }
        }

        .betslip_yyyy {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
    }
  }

  .bet__slip_settings_bar {
    padding: 8px 15px;
    display: flex;
    align-items: center;
    background: #292929;
    border-bottom: 2px solid #313131;
    justify-content: flex-end;

    & > div {
      display: flex;
      align-items: center;
    }

    .summary_button {
      height: 30px;
      min-width: 28px;
      background: #404040;
      border-radius: var(--radius-base);
      margin-left: 8px;
      cursor: pointer;
      color: var(--plain-white);
      text-align: center;
      line-height: 28px;
      transition: all 0.3s ease;

      &:hover {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1) inset;
      }

      &.remove__picks_button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 8px;

        .remove__picks_button_icon {
          text-align: center;
          display: inline-block;
        }

        &.confirm_delete {
          background: var(--yellow);
          box-shadow: none;
          color: #414654;

          .remove__picks_button_icon {
            display: none;
          }

          .remove__picks_button_text {
            display: inline-block;
          }
        }

        .remove__picks_button_text {
          display: none;
          white-space: nowrap;
          transition: all 0.3s ease;
          overflow: hidden;
          text-align: left;
        }
      }
    }
  }

  .bet__slip_stake_wrap {
    display: flex;
    flex-direction: column;

    border-bottom: 2px solid #313131;

    &_sub {
      padding: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &.numpad {
      border-bottom: none;
    }

    .input__stake_wrapper {

      .currency {
        color: var(--plain-white);
        margin-right: 8px;
      }

      input {
        height: 40px;
        background: #292929;
        border-radius: var(--radius-base);
        border: 1px solid #3f444e;
        text-align: right;
        padding: 0 8px;
        width: 100px;
        -moz-appearance: textfield;
        color: var(--plain-white);

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
    }

    span {
      font-size: rem-calc(16);
      line-height: 17px;
      color: #838383;

      b {
        line-height: 18px;
        font-family: var(--roboto-bold);
        font-size: rem-calc(15);
        display: block;
        color: var(--plain-white);
        margin-top: 4px;
      }
    }
  }

  .bet__slip_possible_return {
    padding: 15px;
    border-bottom: 2px solid #313131;

    &_total_odds {
      font-size: rem-calc(16);

      div {
        color: #838383;
      }

      span {
        color: #dddddd;
      }
    }

    div {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:first-child {
        margin-bottom: 4px;

        span {
          &:first-child {
            color: #8a8a8a;
          }
        }
      }

      span {
        font-size: rem-calc(16);
        line-height: 17px;

        span {
          color: #838383;
          margin-right: 4px;
        }
      }

      b {
        line-height: 18px;
        font-size: rem-calc(16);
        color: #dddddd;
      }
    }
  }

  .bet__slip_summary {
    &_notifications {
      background: #f2f2f2;
      min-height: 35px;
      font-size: rem-calc(13);
      color: #262626;
      border-top: solid 1px #dbdbdb;
      display: flex;
      align-items: center;
      justify-content: center;

      &.conflicts {
        position: relative;
        padding: 0 10px;
        &:before {
          content: "";
          width: 4px;
          height: 100%;
          background: #ff5353;
          position: absolute;
          left: 0;
          top: 0;
          z-index: 1;
        }
      }
    }

    &_disclaimer {
      display: block;
      text-align: center;
      min-height: 28px;
      line-height: 28px;
      font-size: rem-calc(12);
      color: #6d6d6b;
      margin: 10px 0;

      span {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    .place__bet {
      width: 100%;
      text-align: center;
      cursor: pointer;
      height: 50px;
      font-size: rem-calc(16);
      background: #79bd1f;
      border-color: #79bd1f;
      color: #fff;
      border-radius: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      line-height: 1;

      span {
        font-family: var(--roboto-bold);
      }

      small {
        text-transform: none;
        color: #ffffff;
        font-size: rem-calc(11);
        font-weight: normal;
        margin-top: 2px;
      }

      &.error {
        opacity: 0.7;
        pointer-events: none;
      }

      &.placing_bet {
        text-transform: none;
        display: flex;
        flex-direction: column;
        line-height: initial;
        justify-content: center;
        pointer-events: none;

        & > div {
          margin-bottom: 3px;
          text-transform: uppercase;
          font-family: var(--roboto-bold);
          font-size: rem-calc(15);
          display: flex;
          align-items: center;
          justify-content: center;

          & > div {
            margin-left: 7px;
          }
        }

        & > span {
          color: #fff;
          opacity: 0.7;
          font-size: rem-calc(13);

        }
      }

      &:hover {
        border-color: #79bd1f;
        background: #fff;
        color: #79bd1f;

        span, small {
          color: #79bd1f;
        }
      }

      &.disabled {
        text-transform: none;
        background: #414141;
        border-color: #414141;
        color: var(--plain-white);
      }

      &.warn {
        text-transform: none;
        background: #d22b2b;
        border-color: #d22b2b;
        color: var(--plain-white);
      }

      &.active {
        text-transform: none;
        background: #16a710;
        border-color: #16a710;
        color: var(--plain-white);
      }
    }
  }
}

@include lower-than('lg') {
  .mobile_state_wrapper {
    display: flex;

    & > span {
      flex: 0 0 50%;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      color: #fff;
      background: #bbbbbb;

      &.active {
        background: #252525;
        color: #79bd1f;
      }
    }
  }
}

.betslip_cover {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: #1e1e1e;
  opacity: 0.6;
  left: 0;
  top: 0;
  z-index: 100;
}

::ng-deep .bet__slip_free_bet {
  display: flex;
  align-items: center;
  margin-top: 4px;
  position: relative;
  overflow: hidden;

  .bet__slip_free_bet_sub {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    & > div {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
    }
  }

  &:before, &:after {
    content: '';
    height: 100%;
    width: 8px;
    position: absolute;
    opacity: 0;
    transition: all 0.3s ease;
  }

  &:before {
    right: 0;
    background-image: linear-gradient(to right, rgba(221, 221, 221, 0), #dddddd);
  }

  &:after {
    left: 0;
    background-image: linear-gradient(to left, rgba(221, 221, 221, 0), #dddddd);
  }

  &.right_shadow {
    &:before {
      opacity: 1;
      transition: all 0.3s ease;
    }
  }

  &.left_shadow {
    &:after {
      opacity: 1;
      transition: all 0.3s ease;
    }
  }

  span {
    cursor: pointer;
    height: 25px;
    width: 90px;
    margin-right: 7px;
    background: #b1b1b1;
    border: 1px solid #b1b1b1;
    color: #fff;
    font-size: rem-calc(12);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    white-space: nowrap;

    &:last-child {
      margin: 0;
    }

    &:hover, &.active {
      border: 1px solid #79bd1f;
      background: #79bd1f;
      transition: all 0.3s ease;
    }
  }
}
