::ng-deep cms-dashboard-profit {
  display: flex;
  flex-direction: column;
  flex: 1;
  nb-card-body{
    padding:0 !important;
  }
  .title {
    padding-left: 0.5rem;
  }
  nb-card-header {
    margin-bottom: -1px;
  }

  nb-card-body {
    position: relative;
    padding: 0;
    overflow: hidden;
  }

  cms-profit-animation-bar {
    position: relative;

    ::ng-deep .echart {
      height: 100%;
      width: 100%;
      overflow: hidden;
    }
  }
}




