@import "../../../../../mixins";

.fixture__standings {

  margin-top: -15px;
  @include lower-than('lg') {
    margin: 0 0 10px;
  }

  &_section {


    &:first-child {


      .fixture__standings_section_table {
        display: block;
      }
    }

    &_header {
      height: 50px;
      font-size: 1.1428571429rem;
      font-family: var(--roboto-regular);
      display: flex;
      padding: 0 20px;
      border-radius: 0;
      margin-bottom: 2px;

      .fixture__standings_counter {
        font-size: rem-calc(18);
        margin-left: auto;
        margin-right: 15px;
      }

      @include lower-than('lg') {
        height: 50px;
        border-radius: 0;
        margin-bottom: 2px;
        font-size: rem-calc(18);
        border-bottom: solid 2px #2f2f2f;
        padding: 0 15px;
      }

      span {
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }

      &.sliding {
        cursor: pointer;

        span {
          pointer-events: none;
        }
      }

      i {
        transition: all 0.3s ease;
      }

      &.active {
        background: #202020;

        i {
          transform: rotate(180deg);
          color: var(--yellow);
        }
      }
    }

    &_table {
      display: none;
      margin-bottom: 10px;
      @include lower-than('lg') {
        margin-bottom: 10px;
      }

      &_header {
        display: flex;
        height: 60px;
        align-items: center;
        cursor: pointer;
        padding-left: 15px;
        font-size: rem-calc(15);
        border-bottom: solid 1px #313131;
        color: #73767e;
        @include lower-than('lg') {
          padding: 0 10px;
          font-size: rem-calc(14);
          height: 35px;
          font-family: var(--roboto-medium);
        }

      }

      &_row {
        display: flex;
        height: 60px;
        align-items: center;
        padding-left: 15px;
        border-bottom: solid 1px #313131;
        @include lower-than('lg') {
          height: 53px;
          padding: 0 10px;
        }

        .league__stats_team {
          @include lower-than('lg') {
            font-size: rem-calc(16);
          }
        }

        .league__stats {
          display: flex;
          margin-left: auto;

          @include lower-than('lg') {
            font-size: rem-calc(16);
          }
        }
      }


      .league__stats {
        margin-left: auto;
        display: flex;

        & > div {
          width: 60px;
          text-align: center;
          @include lower-than('lg') {
            width: 30px;
          }
        }
      }
    }
  }
}
