<main>
  <div class="container__row">
    <div
      class="container__col-xs-12 container__col-lg-6 with_scrollbar center_section"
    >
      <div>
        <div class="sports_all my_bets_section">
          <perfect-scrollbar>
            <workspace-bet-history></workspace-bet-history>
            <workspace-footer></workspace-footer>
          </perfect-scrollbar>
        </div>

      </div>
    </div>
    <div
      class="container__col-xs-12 container__col-lg-3 with_scrollbar right_section"
    >
      <perfect-scrollbar>
        <div>
          <workspace-live-event></workspace-live-event>
          <workspace-casino-games></workspace-casino-games>
          <workspace-casino-promotions></workspace-casino-promotions>
        </div>
      </perfect-scrollbar>
    </div>
  </div>
</main>


